* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  background-image: url("../img/moon-2048727_1920.jpg");
  background-size: cover;
}

.s-card {
  width: 80%;
  /* background-color: rgba(0, 0, 0, 0.7); */
}
